mat-toolbar {
  background-color: var(--primary);
  color: var(--color-text);
}

mat-icon:hover {
  transform: scale(1.3);
}

.btn-icon {
  background-color: var(--primary);
  border: none;
  color: var(--color-text);
  cursor: pointer;
  border-radius: 10px;
}
