<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <mat-toolbar>
    <span>Tema Escuro</span>
    <div>
      <button
        class="btn-icon"
        mat-icon-button
        aria-label="theme-ligth"
        *ngIf="check"
        (click)="buttonDarkTheme((check = false))"
      >
        <mat-icon class="btn-theme-light">wb_sunny</mat-icon>
      </button>

      <button
        class="btn-icon"
        mat-icon-button
        aria-label="theme-dark"
        *ngIf="!check"
        (click)="buttonDarkTheme((check = true))"
      >
        <mat-icon class="btn-theme-dark">nights_stay_rounded</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
